@media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .lista-rodapé__item {
      display: flex;
      align-items: center;
    }
  }@media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .lista-rodapé {
      display: block;
    }
  }
  @media screen and (min-width: 1728px) {
    .lista-rodapé {
      border-left: 1px solid var(--cinza);
      padding-left: 1em;
    }
  }